body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('https://cdn.pixabay.com/photo/2020/03/21/19/27/sea-4955005_1280.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    color: white;
    backdrop-filter: blur(10px);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input[type="email"], .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-options a {
    color: white;
    text-decoration: none;
}

.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e6a8e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button[type="submit"]:hover {
    background-color: #b836b3;
}

.login-form p {
    text-align: center;
    margin-top: 15px;
}

.login-form p a {
    color: white;
    text-decoration: none;
}